/*HOW IT WORKS*/

#how-steps-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(36rem, 36rem));
    justify-content: center;
    margin-bottom: 4.4rem;
    margin-top: 4.4rem;
    font-family: 'Roboto Regular', 'Arial', sans-serif;
}

.step {
    display: grid;
    grid-template-columns: 7rem auto;
    justify-items: start;
    column-gap: 1.5rem;
}

.step-right-top {
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.step-right-bottom {
    border-left: 1px solid #e9e9e9;
}

.step-left-top {
    border-bottom: 1px solid #e9e9e9;
}

.step-description {
    padding: 0 1rem;
    text-align: justify;
}

.step-description > ul {
    list-style-type: none;
    padding: 0;
}

.step-description > ul > li::before {
    color: #fa6c65;
    padding-right: 10px;
    content: '○';
}

.big-red-number {
    font-size: 4.5rem;
    color: #fa6c65;
    margin: 0 0 0 3rem;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
}

.step-header {
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

/*LATEST PROJECTS*/

#latest-projects {
    background-color: #fbfbfb;
    border-top: 1px solid #e9e9e9;
}

#slider-container {
    margin-top: 4.4rem;
    position: relative;
    height: 27rem;
}

@keyframes round {
    15% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

.slider-item {
    width: 100%;
    display: grid;
    grid-template-columns: 42rem 29rem;
    column-gap: 1rem;
    justify-content: center;
    font-family: 'Roboto Regular', 'Arial', sans-serif;
    animation: round 21s infinite;
    opacity: 0;
    position: absolute;
}

.slider-img {
    width: 42rem;
    height: auto;
}

.slider-item:nth-child(1) {
    animation-delay: 14s;
}

.slider-item:nth-child(2) {
    animation-delay: 7s;
}

.slider-item:nth-child(3) {
    animation-delay: 0s;
}

.slider-header {
    font-size: 1.5rem;
    line-height: 2rem;
}

.slider-paragraph {
    font-size: .9rem;
    line-height: 1.5rem;
}

/*MEDIA QUERIES*/

/*WIDTH 1024*/

@media(max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .step {
        grid-template-columns: 4rem auto;
    }

    .big-red-number {
        margin: 0 0 0 1rem;
    }
}

/*WIDTH 768X*/

@media(max-width: 768px) {
    html {
        font-size: 12px;
    }

    #how-steps-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(30rem, 30rem));
    }

    .slider-item {
        grid-template-columns: 36rem 23rem;
    }

    .slider-img {
        width: 36rem;
        height: auto;
    }
}

/*WIDTH 480PX*/

@media (max-width: 480px) {
    html {
        font-size: 10px;
    }

    #how-steps-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(30rem, 30rem));
    }

    .step {
        border: 1px solid #e9e9e9;
        margin: -1px -1px 0 0; /*Схлопывание границ смежных блоков*/
    }

    #slider-container {
        position: relative;
        height: 20rem;
    }   

    .slider-item {
        grid-template-columns: 25rem auto;
    }

    .slider-img {
        width: 25rem;
        height: auto;
        padding-left: 1rem;
    }
}

/*WIDTH 320PX*/

@media (max-width: 320px) {
    html {
        font-size: 8px;
    }

    #slider-container {
        position: relative;
        height: 20rem;
    }    

    .slider-item {
        grid-template-columns: 18rem auto;
    }

    .slider-img {
        width: 18rem;
        height: auto;
        padding-left: 1rem;
    }
}